<div class="wrapper">
    <div class="title-text">
      <div class="title login">Note Taking APP</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked>
        <input type="radio" name="slide" id="signup">
        <label for="login" class="slide login" routerLink="/user/login" routerLinkActive="active">Login</label>
        <label for="signup" class="slide signup" routerLink="/user/registration" routerLinkActive="active">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>