.note-list {
    max-width: 800px;
    margin: 20px auto;
  }

.section-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #103e5d;
  }

h6 {
  text-align: center;
}

.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: fixed;
  z-index: 1;
  top: 10%; 
  left: 70%;
  opacity: 0;
  transition: opacity 0.3s;
}

.note-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.note-item:hover .tooltip:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px; 
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
  .note-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .note-item:hover {
    transform: scale(1.02);
  }

  .note-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .note-title {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }
  
  
  .note-metadata {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }
  
  .text{
    text-align: center;
    font-size: 17px;
  }

  .delete {
    top: 10px;
    right: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
  }
  
  .delete:hover {
    background-color: #c9302c;
  }