<app-nav-menu></app-nav-menu>

<div class="note-list">
    <h2 class="section-title">All User Notes</h2>
    <h6>You have the permission to permanently delete any notes or its comments!</h6>
  
    <ng-container *ngIf="notes && notes.length > 0; else noNotes">
        <div class="note-item" *ngFor="let note of notes">
          <div routerLink="/admin-notedata/{{note.id}}">
            <a class="note-title">
              <strong>{{ note.title }}</strong>
            </a>
            <p class="note-metadata">
              Created by: {{ note.userName }} | Created on: {{ note.createddate | date }} | Last modified: {{ note.lastmodifieddate | date }}
            </p>
            <div class="tooltip">Click to View Note</div>
          </div>
          <button class="delete" (click)="onDelete(note.id)">Delete</button>
        </div>
    </ng-container>
  
    <ng-template #noNotes>
      <p class="text">No notes available</p>
    </ng-template>
  </div>
